.container-fluid {
    max-width: 100%;
    overflow-x: hidden;
    justify-content: center;
}

.small-box {
    width: 350px;
    height: 200px;
    margin-bottom: 50px;
    justify-content: center;
    border-radius: 20px;
}

.container1 {
    margin-top: 85px;

}

.small-box-footer {
    font-size: 25px;
}

.fondo {
    background-image: url('../img/AdminLTELogo.png');
    background-size: 70%;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 3opx;
    padding: 350px;
}
.p1{
    font-size: 26px;
}

/* botonn */
