.containerr {

    display: flex;
    width: 100%;
    /* height: 500px; */
    /* max-width: 99%; */
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #aee2e225;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
    border: 0.1px solid rgba(128, 128, 128, 0.178);

  }
.text-center{
    color:  rgb(5, 99, 25);
}
  .containerrra{
    background-color: rgb(5, 99, 25);
    width: 100%;
    height: 10px;

  }
  .encabezado {
    background-color: rgba(226, 226, 226, 0.616);
    height: 7rem;

}

  .left {
    width: 66%;
    height: 100%;
  }

  .form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     /* height: 100% !important; */
   /* width: 100%; */
    left: 0;
    backdrop-filter: blur(20px);
    position: relative;
    align-items: center;
  }

  .form::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 40%;
    right: 1%;
    z-index: -1;
    background: radial-gradient(
      circle,
      #62f2e6 20%,
      rgb(235, 235, 235) 60%,

      rgb(235, 26, 26) 100%
    );
    filter: blur(70px);
    border-radius: 50%;
  }

  .right {
    width: 34%;
    height: 100%;
    z-index: 1;
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .containerr::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 80%;
    right: -40%;
    background: rgb(157, 203, 182);
    background: radial-gradient(
      circle,
      rgb(157, 203, 196) 61%,
      rgb(5, 99, 25)
    );
    z-index: 0;
    border-radius: 50%;
    margin-top: 40px;
  }
/*
  .input, */
  .button {
    background: rgba(253, 253, 253, 0);
    outline: none;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 0.5rem;
    padding: 10px;
    margin: 10px auto;
    width: 60%;
    display: block;
    color: rgb(204, 97, 97);
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 60px;
  }


  .button {
    width:  200px;
    background-color:rgb(5, 99, 25);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.178);
  }
  .button:hover{
    background-color: brown;
}

  a {
    color: #5e7eb6;
  }


  /* input name */

  .input-blockk{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color:#506869;


  }
  .formjunt{
    margin-bottom: 2rem;
  }

  .input-blockk .label {
    font-size: 20px;
    padding-left: 5px;
    position: absolute;
    top: -25px;
    transition: 0.3s;
    pointer-events: none;
  }

  .input {
    margin-top: 10px;
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #475ca4;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  }

  .input:focus {
    border: 2px solid transparent;
    color: #000000;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }


  .input-blockk.input:valid,
  .input-blockk.input:focus {
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }

  /* buscador de productos */
  .groupp {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;

  }

  .inputt {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #d4d3ff;
    color: #0d0c22;
    transition: 0.3s ease;
  }

  .inputt::placeholder {
    color: #9e9ea7;
  }

  .inputt:focus,
  inputt:hover {
    outline: none;
    border-color: rgba(0, 48, 73, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
  }

  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }




